<div class="header component" style="position: absolute; left: 41px; top: 41px;">
	<div class="hr3" data-reactid=".0.1.0">
	</div>

	<div class="r titleContent" data-reactid=".0.1.1">
		<div class="c2" data-reactid=".0.1.1.0">
			<img class="myoGlow" data-reactid=".0.1.1.0.0" src="/assets/img/myo_glow.png">
		</div>

		<div class="c8 o1" data-reactid=".0.1.1.1">
			<div class="hrShort" data-reactid=".0.1.1.1.0">
			</div>

			<div class="date" data-reactid=".0.1.1.1.1">
				<span class="time" data-reactid=".0.1.1.1.1.0"><span data-reactid=".0.1.1.1.1.0.0">2343</span><span class="h" data-reactid=".0.1.1.1.1.0.1">h</span></span><span class="day" data-reactid=".0.1.1.1.1.1"><span data-reactid=".0.1.1.1.1.1.0">august</span> <span data-reactid=".0.1.1.1.1.1.1"></span><span data-reactid=".0.1.1.1.1.1.2">23</span></span><span class="year" data-reactid=".0.1.1.1.1.2">2017</span>
			</div>

			<p class="titleCopy" data-reactid=".0.1.1.1.2">
				<span class="light" data-reactid=".0.1.1.1.2.0">Drone</span><span data-reactid=".0.1.1.1.2.1">Diagnostics</span>
			</p>
		</div>

		<div class="c3 o1" data-reactid=".0.1.1.2">
			<div class="randomNumbers" data-reactid=".0.1.1.2.0">
				<span class="lightOrange" data-reactid=".0.1.1.2.0.0">0000</span><span class="diagOrange" data-reactid=".0.1.1.2.0.1">4893</span><br data-reactid=".0.1.1.2.0.2">
				<span class="diagRed" data-reactid=".0.1.1.2.0.3">2389</span><br data-reactid=".0.1.1.2.0.4">
				<span class="lightRed" data-reactid=".0.1.1.2.0.5">2216</span>
			</div>
		</div>
	</div>

	<div class="hr3" data-reactid=".0.1.2"></div>
	{{!-- <img class="myoImage" data-reactid=".0.1.3" src="/assets/img/myo_image_live.png"> --}}
</div>

<div class="overrides component" style="position: absolute; left: 371px; top: 41px;">
	<div class="hr3"></div>
	<h1><span>Settings</span><span> </span><span></span></h1>

	<div class="lock">
		<div class="title">
			<div class="text">
				<span>COM Port</span>
			</div>

			<div class="lines">
				<div class="upperLine"></div>
				<div class="lowerLine"></div>
			</div>
		</div>
		<button ng-repeat="port in controllerData.comPorts" ng-click="connectToPort(port)" ng-bind="port.comName" ng-class="{selected: port.comName == controllerData.connectedPort.comName}"></button>
	</div>

	<div class="lock">
		<div class="title">
			<div class="text">
				<span>MYO Conn</span>
			</div>

			<div class="lines">
				<div class="upperLine"></div>
				<div class="lowerLine"></div>
			</div>
		</div>
		<button ng-click="myoController.connected ? myoController.disconnect() : myoController.start()" ng-bind="myoController.connected ? 'CONNECTED': 'CONNECT'" ng-class="{'selected': myoController.connected}"></button>
	</div>
</div>

<div class="overrides component" style="position: absolute; left: 711px; top: 41px;">
	<div class="hr3"></div>
	<h1><span>Drone</span><span> </span><span>Controls</span></h1>

	<div class="lock">
		<div class="title">
			<div class="text">
				<span>Start</span>
			</div>

			<div class="lines">
				<div class="upperLine"></div>
				<div class="lowerLine"></div>
			</div>
		</div>
		<button ng-click="droneController.warmUp()">Warm up</button>
	</div>
</div>

<div class="status component" data-reactid=".0.2" style="position: absolute; left: 41px; top: 171px;"> 
	<div class="statusTag" data-reactid=".0.2.0">
		MYO status
	</div>

	<div class="topSection" data-reactid=".0.2.1">
		<div class="statusText disconnected" data-reactid=".0.2.1.0">
			disconnected
		</div>

		<div class="macAddressSection" data-reactid=".0.2.1.1">
			<div class="hr2" data-reactid=".0.2.1.1.0"></div>
			<span data-reactid=".0.2.1.1.1">myo</span><span class="macAddress" data-reactid=".0.2.1.1.2">00-00-00-00-00-00</span>
		</div>
	</div>

	<div class="lockSection" data-reactid=".0.2.2">
		<div class="lockIcon" data-reactid=".0.2.2.0">
			<img class="lock" data-reactid=".0.2.2.0.0" src="/assets/img/locked.png"><span data-reactid=".0.2.2.0.1">locked</span>
		</div><div class="unlockIcon" data-reactid=".0.2.2.1">
			<img class="unlock" data-reactid=".0.2.2.1.0" src="/assets/img/unlocked.png"><span data-reactid=".0.2.2.1.1">unlocked</span>
		</div>
	</div>

	<div class="armSection" data-reactid=".0.2.3">
		<div class="myoCount" data-reactid=".0.2.3.0">
			<span data-reactid=".0.2.3.0.0">MYO</span>
			<div class="count" data-reactid=".0.2.3.0.1"></div>
		</div>

		<div class="armDirection" data-reactid=".0.2.3.1">
			<div class="left" data-reactid=".0.2.3.1.0">
				<div class="smallBar" data-reactid=".0.2.3.1.0.0"></div><div class="medBar" data-reactid=".0.2.3.1.0.1"></div><div class="largeBar" data-reactid=".0.2.3.1.0.2"></div><div class="direction" data-reactid=".0.2.3.1.0.3">L</div>
			</div><div class="right" data-reactid=".0.2.3.1.1">
				<div class="direction" data-reactid=".0.2.3.1.1.0">R</div><div class="largeBar" data-reactid=".0.2.3.1.1.1"></div><div class="medBar" data-reactid=".0.2.3.1.1.2"></div><div class="smallBar" data-reactid=".0.2.3.1.1.3"></div>
			</div>
		</div>

		<div class="myoLocation" data-reactid=".0.2.3.2">
			<span data-reactid=".0.2.3.2.0">myo</span><span data-reactid=".0.2.3.2.1">lost</span>
		</div>
	</div>
</div>