<!doctype html>
<html lang="en" ng-app="droneControlApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{title}}</title>
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/css/style.css"> 

	{{#if ENV_DEVELOPMENT}}
	<script src="http://localhost:35729/livereload.js"></script>
	{{/if}}
</head>

<body>
	<div class="diagnosticsPage" ng-controller="mainAppController">
		{{{body}}}
	</div>

	<script src="/nodemodules/myo/myo.js"></script>
	<script src="/components/angular/angular.min.js"></script>
	<script src="/components/angular-socket-io/socket.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/clientApp.js"></script>
	<script src="/controllers/appController.js"></script>
	<script src="/factories/droneFactory.js"></script>
	<script src="/factories/serialCommFactory.js"></script>
	<script src="/services/serialCommService.js"></script>
</body>
</html>