<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{title}}</title>
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/style.css"> 

	{{#if ENV_DEVELOPMENT}}
	<script src="http://localhost:35729/livereload.js"></script>
	{{/if}}
</head>

<body>
	<div class="diagnosticsPage">
		{{{body}}}
	</div>

	<script src="/components/angular/angular.min.js"></script>
	<script src="/app.js"></script>
</body>
</html>